/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* font-family: "Arvo", serif; */
  line-height: 26px;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: start;
      align-content: start;
  -ms-grid-columns: 1fr 0px 1fr 0px 1fr 0px 25%;
  grid-template-columns: 1fr 1fr 1fr 25%;
  -ms-grid-rows: 1fr 0px 1fr 0px 1fr 0px 0.5fr;
  grid-template-rows: 1fr 1fr 1fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
      grid-template-areas:
      "g1 g1 g2 g2"
      "g3 g4 g4 g5"
      "g6 g7 g7 g5"
      "g8 g9 g10 g10";
}


.caps {
  font-family: Montserrat, sans-serif;
  color: #9fa3a7;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.gray-text {
  color: #9fa3a7;
}

.g1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: g1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 4%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;

}

.g1 .content {
  width: 30%;
}

.g1 .content h3,
h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Arvo, sans-serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
}

.image {
  margin-top: 40px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.g2 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: g2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f8f9;
  text-align: center;
}

.g2 h1 {
  font-family: Arvo, sans-serif;
  font-size: 48px;
  line-height: 60px;
  font-weight: 400;
  margin-top: 20px;
  max-width: 550px;
}

.g2 a {
  color: #27b9c2;
  text-decoration: underline;
}

.g3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: g3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f05638;
  color: #fffbfb;
  text-align: center;
}

.g3 h3 {
  max-width: 230px;
  margin-bottom: 0px;
}

.g3 a {
  color: #ffc80a;
  display: inline-block;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
  text-decoration: none;
  text-transform: uppercase;
}

.arrow {
  font-size: 16px;
}

.g4 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: g4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  /* padding-top: 68px; */
  padding: 68px 4% 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.image-2 {
  position: relative;
  left: -160%;
  width: 250%;
  max-width: none;
  margin-top: 20px;
  vertical-align: middle;
  display: inline-block;
}

.g4 .content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  max-width: 180px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.g4 .content2 {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.g4 .content2 .gray-text {
  font-size: 14px;
}

.g4 .content2 h3 {
  margin-bottom: auto;
}

.g4 .content2 a {
  display: inline-block;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
  text-decoration: none;
  text-transform: uppercase;
  color: #27b9c2;
}

.g5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  grid-area: g5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 30px 5% 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8f76bc;
  color: #fff;
  text-align: center;
}

.g5 .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 373px;
  height: 373px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #8166b0;
}

.g5 .text-block {
  padding: 2px 13px 1px 30px;
  border-radius: 60px;
  background-color: rgba(255, 255, 255, 0.08);
  background-image: url(../img/Shape.png);
  background-position: 11px 50%;
  background-size: 12px;
  background-repeat: no-repeat;
  font-size: 10px;
  line-height: 23px;
  font-weight: 700;
  letter-spacing: 2.4px;
}

.g5 .disk {
  position: relative;
  left: -8px;
  margin-top: 20px;

}

.g5 img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.g5 .caps {
  color: white;
}

.g5 h2 {
  font-family: Arvo, sans-serif;
  font-size: 32px;
  line-height: 36px;
  margin: 20px 0 10px;
}

.g5 .text-block-2 {
  width: 80%;
  max-width: 290px;
  font-size: 14px;
}

.button {
  margin-top: 30px;
  padding: 14px 28px;
  border-radius: 50px;
  background-color: #ffc80a;
  color: #000;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  text-decoration: none;
}

.g6 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: g6;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f8f9;
}

.g6 img {
  position: relative;
  left: -7%;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.g6 h3 {
  width: 54%;
  text-align: center;
}

.g6 a {
  display: inline-block;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
  text-decoration: none;
  text-transform: uppercase;
  color: #27b9c2;
}

.g7 {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: g7;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #93b6b7;
  background-image: url(../img/UX.png);
  background-position: 50% 100%;
  background-size: 80%;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
}

.g7 .minicaps {
  position: absolute;
  left: 30px;
  top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  background-color: #fa684f;
  font-size: 8px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.g7 h3 {
  display: block;
  max-width: 280px;
  margin: auto;
  padding-top: 31px;
  padding-bottom: 31px;
}

.g7 img {
  position: relative;
  left: -7%;
  width: 90%;
}


.g8 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: g8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #38d5f4;
  color: #fff;
}

.g8 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
  height: 240px;
  padding-right: 34px;
  padding-left: 34px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #35cfed;
  text-align: center;
}

.g9 {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: g9;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f8f9;
}

.g9 .minicaps {
  background-color: #7bc424;
  color: #fff;
  left: 30px;
  top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  font-size: 8px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.g10 {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: g10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-right: 5%;
  padding-left: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2c2c2c;
  color: #fff;
}

.g10 img {
  position: relative;
  left: -15%;
}

.g10 h3 {
  width: 34%;
}

@media (max-width: 991px) {
  .container {
      -ms-grid-rows: repeat(8, auto);
      grid-template-rows: repeat(8, auto);
          grid-template-areas:
          "g2 g2 g2 g2"
          "g1 g1 g1 g1"
          "g3 g3 g6 g6"
          "g4 g4 g4 g4"
          "g8 g8 g5 g5"
          "g7 g7 g5 g5"
          "g9 g9 g9 g9"
          "g10 g10 g10 g10"
      ;
  }

  .g2 {
      padding-top: 50px;
      padding-bottom: 50px;

      h1 {
          font-size: 35px;
          line-height: 1.4em;
      }
  }

  .g2,
  .g3,
  .g6,
  .g9 {
      padding: 40px 0;
  }
  .g1 {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
  }
  .g2 {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
  }
  .g3 {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
  }
  .g4 {
      -ms-grid-row: 4;
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
  }
  .g5 {
      -ms-grid-row: 5;
      -ms-grid-row-span: 2;
      -ms-grid-column: 3;
      -ms-grid-column-span: 2;
  }
  .g6 {
      -ms-grid-row: 3;
      -ms-grid-column: 3;
      -ms-grid-column-span: 2;
  }
  .g7 {
      -ms-grid-row: 6;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
  }
  .g8 {
      -ms-grid-row: 5;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
  }
  .g9 {
      -ms-grid-row: 7;
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
  }
  .g10 {
      -ms-grid-row: 8;
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
  }
}

@media (max-width: 479px) {
  .container {
      -ms-grid-rows: repeat(10, auto);
      grid-template-rows: repeat(10, auto);
          grid-template-areas:
          "g2 g2 g2 g2"
          "g1 g1 g1 g1"
          "g3 g3 g3 g3"
          "g6 g6 g6 g6"
          "g4 g4 g4 g4"
          "g8 g8 g8 g8"
          "g7 g7 g7 g7"
          "g5 g5 g5 g5"
          "g9 g9 g9 g9"
          "g10 g10 g10 g10"
      ;
  }

  .g1 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      align-items: center;
      padding-top: 40px;
      flex-direction: column;

      img {
          position: relative;
          left: -4%;
          display: block;
          margin: 40px auto 0;
      }

      .content {
          width: 90%;
      }
  }

  .g2 {
      padding-top: 50px;
      padding-bottom: 50px;

      h1 {
          font-size: 10vw;
          line-height: 1.4em;
      }

      a {
          font-size: 14px;
          letter-spacing: 1px;
      }
  }

  .g3,
  .g6,
  .g8,
  .g9 {
      padding: 40px 0;
  }

  .g4 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 34px;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
  }

  .g4 .content1 {
      margin-bottom: 34px;
  }

  .g4 .content1,
  .g4 .content2 {
      width: 100%;
      max-width: none;

  }

  .image-2 {
      left: -115%;
      width: 200%;
      margin-top: 40px;
  }

  .g9 h3 {
      width: 70%;
      text-align: center;
  }

  .g10 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-bottom: 30px;
  }

  .g10 h3 {
      width: 100%;
      text-align: center;
  }
  .g1 {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
  }
  .g2 {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
  }
  .g3 {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
  }
  .g4 {
      -ms-grid-row: 5;
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
  }
  .g5 {
      -ms-grid-row: 8;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
  }
  .g6 {
      -ms-grid-row: 4;
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
  }
  .g7 {
      -ms-grid-row: 7;
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
  }
  .g8 {
      -ms-grid-row: 6;
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
  }
  .g9 {
      -ms-grid-row: 9;
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
  }
  .g10 {
      -ms-grid-row: 10;
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
  }

}